body {
	background: black;
}
.header { 
  	background-image: url(../src/1.jpg);
    height: 687px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
.header-background {
    background-image: linear-gradient(to right, rgb(14, 34, 58) 0%,rgba(19, 49, 85, 0.88) 1%,rgba(30,87,153,0) 50%,rgba(0, 53, 97, 0.66) 100%);
    height: 100%;
}