body {
  font-family: 'Libre Franklin', sans-serif;
  background-image: url(../src/body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-color: black;
}
.about-us {
  text-align: center;
  background-image: url(../src/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.equipment {
  background-image: url(../src/equipm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.team {
  background-image: url(../src/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*RESPONSIVE SETTINGS*/
@media (min-width: 769px) {
  body {
    display: block;
    max-width: 100%;
    height: auto;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  footer {
      text-align: center;
  }
  footer img {
    display: initial;
  }
  body, img, iframe {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .social-footer, .social, .copy {
    display: initial;
  }
}
/*NAVBAR*/
.nav-right {
  margin: auto;
}
.bg-light.navbar {
    background-color: #3A3B3F!important;
}
.navbar .nav-link a {
  color: white;
}
.navbar-nav .nav-link, .navbar-brand {
color: white!important;
}
.contact-us a {
  color: white;
}
/*MAIN*/
.text-w h1, p{
  color: white;
  font-weight: bold;
  text-align: center;
}
/*HEADER*/
.btn-link {
  color: black;
}
/*ABOUT US*/
/*EQUIPMENT*/
/*GALERRY*/
.image-center, .gallery img  {
  width: 100%;
  height: auto;
  text-align: center;
  vertical-align: super;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none;
  box-shadow: none;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
/*TEAM*/
.btn-primary {
  color: white;
  background-color: grey;
  border: 1px solid black;
}
.btn-primary:hover {
  color: grey;
  background-color: white;
  border: 1px solid black;
}
.cards .row .col-md-6 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cards .row .col-md-6 .card {
  display: inline-flex;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: 1px solid black;
  border-radius: 15px;
  padding:50px;
  width: 100%;
}
.cards .row .col-md-6 .card:hover {
  -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
  -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
}
.card-img-top {
  border-radius: 100%;
}
/*COLOR COR*/
.juxtapose {
  max-width: 992px;
  margin: 0 auto;
}
.color-correction {
  text-align: center;
} 
/*CONTACTS*/
.contacts h1 {
  font-size: 2rem;
}
/*FOOTER*/
footer {
  padding-top: 15px;
  color: #fff;
}
.fluid {
  padding: 0px;
  border: 0px;
}
.social-footer {
    float: right;
    color: grey;
    display: inline-flex;
    margin-right: 70px;
    /* background-color: grey; */
    /* border-radius: 10px; */
    margin-bottom: 0;
    text-align: center;
}
.social-footer a {
    color:#fff;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 0px;
}
.social-footer a:hover{
    color:#117aea;
    opacity: 0.7;
    -webkit-box-shadow: 15px 18px 41px -4px rgba(0,0,0,1);
    -moz-box-shadow: 15px 18px 41px -4px rgba(0,0,0,1);
    box-shadow: 15px 18px 41px -4px rgba(0,0,0,1);
}